Applications
Desktop
Development
Design
Documents
Downloads
Library
Movies
Music
Pictures
Public
Sites
Utils
# Do not track deadly things
.ssh
.subversion
.timetrap.db
.DS_Store
.Trash
.adobe
.dropbox
.viminfo
.vim/tmp
*tmp*
*.swp
